<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.vove7.push">

    <application>


        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />
    </application>
</manifest>
