<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.vove7.jarvis">

    <!-- 语音识别 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- 闪光灯，相机 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 设置勿扰 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" /> <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- ??? -->
    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--解锁监听-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!--ArgusAPM-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_vassist"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_vassist"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<receiver android:name=".widget.QuickWakeupWidget">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.appwidget.provider"-->
        <!--android:resource="@xml/quick_wakeup_widget_info" />-->
        <!--</receiver>-->
        <!--<receiver android:name=".widget.SwitchVoiceWakeupWidget">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.appwidget.provider"-->
        <!--android:resource="@xml/quick_wakeup_widget_info" />-->
        <!--</receiver>-->

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="10922901" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="xwzlOfIIysRN7IDdcjA823ZS" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="d9ef661698c5d8cd45978aa55e600e03" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--<provider-->
        <!--android:name="com.argusapm.android.core.storage.ApmProvider"-->
        <!--android:authorities="${applicationId}.apm.storage"-->
        <!--android:exported="false" />-->

        <activity android:name=".activities.VoiceTestActivity" />
        <activity
            android:name=".activities.RealMainActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <meta-data android:name="android.app.shortcuts" -->
            <!-- android:resource="@xml/shortcuts" /> -->
        </activity> <!-- <activity android:name=".activities.MainActivity" /> -->
        <activity
            android:name=".activities.base.CreateShortcutActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentBackground">
            <intent-filter>
                <!--快捷方式-->
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.base.VoiceAssistActivity"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentBackground">
            <intent-filter>

                <!-- 一加按键设置(搜索助手) 触发辅助应用 -->
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.search.action.GLOBAL_SEARCH" />
                <!-- 一加按键设置(语音搜索) 触发 语音识别 -->
                <action android:name="android.intent.action.VOICE_ASSIST" />
                <!-- 蓝牙耳机触发 -->
                <action android:name="android.intent.action.VOICE_COMMAND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher_vassist" />
        </activity>

        <service
            android:name=".services.MyAccessibilityService"
            android:label="@string/base_acc_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/base_accessibility_config" />
        </service>

        <service
            android:name=".services.GestureService"
            android:description="@string/desc_gesc_accessibility"
            android:label="@string/gesture_acc_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/gesture_accessibility_config" />
        </service>

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
        <service
            android:name=".services.MainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.AssistSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/assist_service" />
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher_vassist" />

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.VoiceWpTileService"
            android:icon="@drawable/ic_hearing"
            android:label="@string/text_voice_wp"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <!--<service-->
        <!--android:name=".services.VoiceInputService"-->
        <!--android:label="V Assist语音识别输入"-->
        <!--android:permission="android.permission.BIND_VOICE_INTERACTION">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.speech.action.RECOGNIZE_SPEECH" />-->
        <!--<action android:name="android.speech.action.WEB_SEARCH" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <activity
            android:name=".activities.PermissionManagerActivity"
            android:label="@string/text_permission_manager" />
        <activity android:name=".activities.RegexParseTestActivity" />
        <activity
            android:name=".activities.InstManagerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.InAppInstActivity"
            android:label="@string/text_cmd_in_app" />
        <activity
            android:name=".activities.NewInstActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.MarkedManagerActivity" />
        <activity android:name=".activities.AppAdListActivity" />
        <activity
            android:name=".activities.AdvancedSettingActivity"
            android:excludeFromRecents="false"
            android:label="@string/text_advanced_features"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/text_about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/text_help"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.base.LaboratoryActivity"
            android:label="@string/text_laboratory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.InstDetailActivity"
            android:theme="@style/TranslucentStatus.NoActionBar" />
        <activity
            android:name=".activities.OSLActivity"
            android:label="@string/text_open_source_libraries" />
        <activity
            android:name=".activities.LuaEditorActivity"
            android:label="@string/text_lua_editor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.JsEditorActivity"
            android:label="@string/text_js_editor"
            android:theme="@style/Theme.Darcula" />
        <activity
            android:name=".activities.ScreenPickerActivity"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenPicker" />
        <activity android:name=".activities.CrashInfoActivity" />
        <activity
            android:name=".activities.PluginManagerActivity"
            android:label="@string/text_plugins_manager" />
        <activity
            android:name=".activities.AccServiceBlackListManagerActivity"
            android:label="无障碍黑名单" />
        <activity
            android:name=".activities.VoiceInputRecogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="V Assist语音识别输入"
            android:theme="@style/ScreenShotTheme">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
                <action android:name="android.speech.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.ResultPickerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenShotTheme" />
    </application>

</manifest>