<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.vove7.jarvis">

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 闪光灯，相机 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- 设置勿扰 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 联系人 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />
    <!-- ??? -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!--解锁监听-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--ArgusAPM-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--adb授权，开启无障碍-->
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />

    <!-- 语音识别 -->
    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher_vassist"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_vassist"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">

        <provider
            android:name=".app.InitCp"
            android:authorities="${applicationId}.init"
            android:exported="false" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.VoiceTestActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Main"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <meta-data android:name="android.app.shortcuts" -->
            <!-- android:resource="@xml/shortcuts" /> -->
        </activity>
        <activity
            android:name=".activities.base.CreateShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="V Assistant快捷功能"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentBackground">
            <intent-filter>
                <!--快捷方式-->
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.base.VoiceAssistActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentBackground">
            <intent-filter>
                <data android:scheme="vassistant" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>

                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />

                <!-- 一加按键设置(搜索助手) 触发辅助应用 -->
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.search.action.GLOBAL_SEARCH" />
                <!-- 一加按键设置(语音搜索) 触发 语音识别  安卓P长按HOME键-->
                <action android:name="android.intent.action.VOICE_ASSIST" />
                <!-- 蓝牙耳机触发 -->
                <action android:name="android.intent.action.VOICE_COMMAND" />

                <!--搜索，此处唤醒-->
                <action android:name="android.speech.action.WEB_SEARCH" />

                <action android:name="android.speech.action.VOICE.SEARCH_HANDS_FREE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />

            </intent-filter>
            <!-- 接收长按TileService -->
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <!-- 自定义action`-->
            <intent-filter>
                <action android:name="switch_voice_wakeup" />
                <action android:name="switch_debug_mode" />
                <action android:name="set_assist_app" />
                <action android:name="wakeup_screen_assist" />
                <action android:name="screen_assist_text_picker" />
                <action android:name="screen_assist_qr" />
                <action android:name="screen_assist_spot_screen" />
                <action android:name="screen_assist_screen_ocr" />
                <action android:name="screen_assist_screen_share" />
                <action android:name="wakeup" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher_vassist" />
        </activity>


        <activity
            android:name=".activities.PermissionManagerActivity"
            android:label="@string/text_permission_manager" />
        <activity
            android:name=".activities.InstManagerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.InAppInstActivity"
            android:label="@string/text_cmd_in_app" />

        <activity
            android:name=".activities.NewInstActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.WelcomeActivity"
            android:launchMode="singleTop" />

        <activity android:name=".activities.MarkedManagerActivity" />
        <activity android:name=".activities.AppAdListActivity" />
        <activity
            android:name=".activities.AdvancedSettingActivity"
            android:excludeFromRecents="false"
            android:label="@string/text_advanced_features"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/text_about"
            android:theme="@style/AppTheme" />


        <!--助手应用/语音输入 ？ What feature-->
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/text_help"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.LaboratoryActivity"
            android:label="@string/text_laboratory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.InstDetailActivity"
            android:theme="@style/TranslucentStatus.NoActionBar" />
        <activity
            android:name=".activities.OSLActivity"
            android:label="@string/text_open_source_libraries" />
        <activity
            android:name=".activities.LuaEditorActivity"
            android:label="@string/text_lua_editor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.JsEditorActivity"
            android:label="@string/text_js_editor"
            android:theme="@style/Theme.Darcula" />
        <activity
            android:name=".activities.AccServiceBlackListManagerActivity"
            android:label="无障碍黑名单" />
        <activity
            android:name=".activities.VoiceInputRecogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="V Assist语音识别输入"
            android:theme="@style/ScreenShotTheme">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.ResultPickerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenShotTheme" />
        <activity
            android:name=".activities.screenassistant.ScreenAssistActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/label_screen_assistant"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenAssist">
            <intent-filter>
                <action android:name="${applicationId}.SCREEN_ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TextOcrActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="屏幕助手-文字识别"
            android:launchMode="singleInstance"
            android:resizeableActivity="false"
            android:theme="@style/TextOcr"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${applicationId}.SCREEN_OCR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.screenassistant.ScreenShareActivity"
            android:exported="true"
            android:label="屏幕助手-截屏分享"
            android:theme="@style/ScreenPicker" />
        <activity
            android:name=".activities.ScreenPickerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="屏幕助手-文字提取"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenPicker" />
        <activity
            android:name=".activities.screenassistant.QrCodeActivity"
            android:exported="true"
            android:label="屏幕助手-二维码识别"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenPicker">
            <intent-filter>
                <action android:name="SCAN_QR_CODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.screenassistant.SpotScreenActivity"
            android:exported="true"
            android:label="屏幕助手-屏幕内容识别"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenPicker">
            <intent-filter>
                <action android:name="SCREEN_SPOT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CodeViewActivity"
            android:label="查看代码"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.screenassistant.ScreenOcrActivity"
            android:exported="true"
            android:label="屏幕助手-文字识别"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenPicker" />
        <activity
            android:name=".activities.TimedTaskManagerActivity"
            android:label="定时任务" />

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="10922901" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="xwzlOfIIysRN7IDdcjA823ZS" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="d9ef661698c5d8cd45978aa55e600e03" />

        <!--屏幕助手-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--屏幕助手api-->
        <service
            android:name=".services.MyAccessibilityService"
            android:label="@string/base_acc_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/base_accessibility_config" />
        </service>

        <service
            android:name=".services.GestureService"
            android:description="@string/desc_gesc_accessibility"
            android:label="@string/gesture_acc_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/gesture_accessibility_config" />
        </service>

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <service
            android:name=".services.AssistSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher_vassist" />

            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/assist_service" />
        </service>
        <service
            android:name=".services.VoiceWpTileService"
            android:icon="@drawable/ic_hearing"
            android:label="@string/text_voice_wp"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ScreenAssistantTileService"
            android:icon="@drawable/ic_tile_screen_assistant"
            android:label="@string/label_screen_assistant"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ScreenTextPickTileService"
            android:icon="@drawable/ic_twotone_text_fields_24px"
            android:label="文字提取"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QrCodeTileService"
            android:icon="@drawable/ic_twotone_qr_code"
            android:label="二维码识别"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.VoiceInputService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognizer" />
        </service>


        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->

        <service
            android:name=".services.ForegroundService"
            android:foregroundServiceType="mediaProjection|location"
            android:label="前台服务"
            android:priority="1000" />

        <!--        <receiver-->
        <!--            android:name=".receivers.JPushReceiver"-->
        <!--            android:process=":pushcore">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />-->
        <!--                <category android:name="${applicationId}" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>
</manifest>