<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.vove7.common" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <activity android:name=".view.ScreenshotActivity"
            android:launchMode="singleInstance"
            android:theme="@style/ScreenShotTheme" />
    </application>
</manifest>
